* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background: #333;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:hover>ul {
    display: initial;
}

.banner {
    position: relative;
}

.banner h1 {
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(52, 51, 51);
    width: 100%;
    top: 25%;
    transform: translateY(-50%);
    color: white;
    line-height: 1.3;
    font-size: 3rem;
    font-weight: 400;
}

.banner img {
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
    filter: brightness(90%);
}

article {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px;
    line-height: 1.5;
}

article h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

article p {
    text-indent: 50px;
    margin: 30px 0;
}